<!-- Comment out site name -->

<!-- Desktop Navigation -->




<!-- Start of body below -->

<div class="responsive-nav-social-mobile" data-responsive-toggle="responsive-nav-social" data-hide-for="medium">
  <div class="responsive-nav-social-mobile-left">
     <div class="title-bar-title">Menu</div>
    <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
  </div>
  <div class="responsive-nav-social-mobile-right">
     <ul class="menu">
        <li><a href="http://twitter.com/playworldplay"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/happyplaygrounds/"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="http://linkedin.com/company/happyplaygrounds"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="https://www.instagram.com/happyplaygrounds/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
    </ul>
  </div>
</div>

<div data-sticky-container>
  <div class="responsive-nav-social" id="responsive-nav-social" data-sticky data-options="marginTop:0;">
    <div class="row align-justify align-middle" id="responsive-menu">
      <a href="/"><img src="https://d1wfqjcm45bc90.cloudfront.net/logo_v1.png" alt="" height="200" width="200"></a>
      <div class="responsive-nav-social-left">
          <%= foundation_menu(refinery_menu_pages).to_html %>
      </div>
      <div class="responsive-nav-social-right hide-for-small-only">
        <ul class="menu">
        <li><a href="http://twitter.com/playworldplay"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/happyplaygrounds/"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="http://linkedin.com/company/happyplaygrounds"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="https://www.instagram.com/happyplaygrounds/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>





