<div class="container">
  <!-- <%#= link_to 'Home', root_path %> -->
  <h2>Happy Project - <%= @happyProject.project_name %> for Customer <%= @happyProject.happy_customer_id %></h2>
  <br>
  <div class="row">
    <div class="col-sm">
      <p>
      <%= @happyProject.project_name %><br>
      </p>
    </div
  </div>

<%= link_to 'Back', {:action => 'index'} %>
</div>

