<div class="container">
  <!-- <%#= link_to 'Home', root_path %> -->
  <h2>Happy Customer - <%= @happyproject.project_name %></h2>
  <br>
  <div class="row">
    <div class="col-sm">
      <p>
      <%= @happyproject.project_name %><br>
      </p>
    </div
  </div>

<%= link_to 'Back', {:action => 'index'} %>
</div>

