* {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
 }

 body {
    padding-top: 130px;
  }

h1 { 
  color: red;
}

.input-group-addon {
	margin-bottom: 0px;
	margin-top: 5px;
}

.navbar {
	margin: 0px 100px 15px 100px;
	font-size: 17px;
}

.nav-devise {
	padding: 0px 50px 0px 0px;
}

.nav-image {
  width: 200px;
  height: 100px;
}

.navbar-brand {
	padding: 0px 70px 0px 0px;
}

#saveit {
	margin: 0px 0px 40px 0px;
}

@media only screen and (min-width: 576px) { 
   .form-inline label {
    padding-right: 20px;
    }
}

.form-inline > *  {
   margin-right:7px;
}

.customer-index-form {
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Make widths from <colgroup> take effect and prevent table auto-stretching */
.table-fixed { table-layout: fixed; width: 100%; }

/* Give External Notes some room (width on <col> is supported) */
.table-fixed col.col-notes { width: 40%; }

/* Override .table-responsive's nowrap for the 7th column cells */
.table-responsive .table-fixed td:nth-child(5),
.table-responsive .table-fixed th:nth-child(5) {
  white-space: normal !important;
  overflow-wrap: anywhere;
  word-break: break-word;   /* fallback */
  min-width: 0;
}

