* {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
 }

 body {
    padding-top: 130px;
  }

h1 { 
  color: red;
}

.input-group-addon {
	margin-bottom: 0px;
	margin-top: 5px;
}

.navbar {
	margin: 0px 100px 15px 100px;
	font-size: 17px;
}

.nav-devise {
	padding: 0px 50px 0px 0px;
}

.nav-image {
  width: 200px;
  height: 100px;
}

.navbar-brand {
	padding: 0px 70px 0px 0px;
}

#saveit {
	margin: 0px 0px 40px 0px;
}

@media only screen and (min-width: 576px) { 
   .form-inline label {
    padding-right: 20px;
    }
}

.form-inline > *  {
   margin-right:7px;
}

.customer-index-form {
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Force table to honor colgroup widths this is for the happy_quotes index page */
#quotes-table .table {
  table-layout: fixed;
  width: 100%;
}

/* Equal widths for the two notes columns */
#quotes-table col.col-internal-notes,
#quotes-table col.col-external-notes {
  width: 20%;
}
#quotes-table col.col-email {
  width: 18%;
}

/* Allow wrapping inside those cells */
#quotes-table th:nth-child(3),
#quotes-table td:nth-child(3),
#quotes-table th:nth-child(4),
#quotes-table td:nth-child(4),
#quotes-table th:nth-child(5),
#quotes-table td:nth-child(5) {
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}

